/* Base styles for Lab 7
-------------------------------------------------- */
body {
	background-color: rgb(240,240,240);
}
header {
	padding: 1em;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
main section {
	width: 20%;
	padding: 0.5em;
	background-color: rgb(255,255,255);
	box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1); 
}
main section h2 {
	margin: 0;
}
main section h3 {
	margin: 0;
	font-size: 75%;
}
main section div {
	margin-top: 0.5em;
	padding: 0.5em;
	color: rgb(255,255,255);
	background-color: grey;
	height: 3em;
}
footer {
	padding: 1em;
}
